
<h1>Home</h1>

<div class="box"
	ng-swipe-left='main.showOptions(item.id)'
	ng-swipe-right='main.hideOptions(item.id)'
	ng-repeat='item in main.items'>
	
	<div class="innerbox" ng-hide="main.show[item.id]">
		<strong>{{item.title}}</strong>
		<div ng-click='main.changeState()' class="status" ng-class="item.status"></div>
	</div>

	<div class="optbox" ng-show='main.show[item.id]'>
		<div class="leftOption">
			<span class="glyphicon glyphicon-cog"></span>
			Edit
		</div>
		<div class="rightOption">
			<span class="glyphicon glyphicon-remove"></span>
			Delete
		</div>
	</div>
</div>